[run]
branch = True
source = fasjson_client

[paths]
source =
   fasjson_client
   .tox/*/site-packages/fasjson_client


[report]
fail_under = 100
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
omit =
    fasjson_client/tests/*
